
body {
    background-color: #fafafa;
    background-attachment: fixed;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
}

header{
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}

#contenedor {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.modulos{
    background-color:#ddd;
    padding: 10px;
    
}
